<div class='inner-container'>
  <%= form_for(:session, url: login_path) do |f| %>
  
    <div class='form-group'>
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  
    <div class='form-group'>
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  
    <%= f.submit 'ログイン', class: 'btn btn-primary btn-block', id: 'login-btn' %>
      
  <% end %>
  
  <%= link_to 'まだアカウントを作成していない方はこちら', new_user_path %>
</div>