<!--あるspotにおける新規課題・ログ登録画面-->

<%= "スポット名：#{@spot.name}" %>

<%= form_tag(problems_path, method: :create) do %>

    <p>
        <%= label :problem, :type, 'タイプ' %>
        <%= select :problem, :type, ['IndoorProblem', 'OutdoorProblem'] %>
    </p>
    
    <p>
        <%= label :problem, :grade, 'グレード' %>
        <%= select :problem, :grade, GRADE_CORRESPONDENCE.invert %>
    </p>
    
    <p>
        <%= label :problem, :name, '名称（外岩のみ）' %>
        <%= text_field :problem, :name %>
    </p>
    
    <p>
        <%= label :problem, :description, '説明' %>
        <%= text_field :problem, :description %>
    </p>
    
    <p>
        <%= date_field :log, :climbed_at %>
    </p>
    
    <p>
        <%= select :log, :status, STATUS.invert  %>
    </p>
    
    <p>
        <%= label :log, :photos, '画像' %>
        <%= file_field :log, :photos, multiple: true %>
    </p>
    
    <p>
        <%= text_field :log, :comment %>
    </p>

    <%= hidden_field :problem, :spot_id, value: @spot.id %>
    
    <%= submit_tag '新規登録' %>
<% end %>