<div class='inner-container'>
  <h3><%= @spot.name %>の新規課題登録</h3>
  
  <%= form_tag(problems_path, method: :post, multipart: true) do %>
    <%= render 'layouts/error_messages', model: @problem %>
    <% #byebug %>
    <%= render 'layouts/error_messages', model: @log %>
  
    <% if @spot.type == 'Area' %>
      <div class='form-group'>
        <%= label :problem, :name, '名称' %>
        <%= text_field :problem, :name, class: 'form-control' %>
      </div>
    <% end %>
  
    <div class='form-group'>
      <%= label :problem, :grade, 'グレード' %>
      <%= select :problem, :grade, GRADE_CORRESPONDENCE.invert, {}, class: 'form-control' %>
    </div>
  
    <div class='form-group'>
      <%= label :log, :climbed_at, 'トライした日付' %>
      <%= date_field :log, :climbed_at, class: 'form-control' %>
    </div>
    
    <div class='form-group'>
      <%= label :log, :status, '状況' %>
      <%= select :log, :status, STATUS.invert, {}, class: 'form-control' %>
    </div>
    
    <div class='form-group'>
      <%= label :log, :photos, '写真' %>
      <%= file_field :log, :photos, multiple: true %>
    </div>
    
    <div id='preview'></div>
    
    <div class='form-group'>
      <%= label :log, :comment, 'コメント' %>
      <%= text_area :log, :comment, class: 'form-control' %>
    </div>
    
    <% if @spot.type == 'Area' %>
      <% type = 'OutdoorProblem' %>
    <% elsif @spot.type == 'Gym' %>
      <% type = 'IndoorProblem' %>
    <% end %>

    <%= hidden_field :problem, :type, value: type %>    
    <%= hidden_field :problem, :spot_id, value: @spot.id %>
    <%= hidden_field :log, :user_id, value: session[:user_id] %>
  
    <%= submit_tag '新規登録', class: 'btn btn-success' %>
  <% end %>
</div>