<div class='inner-container'>
  <h3>アカウント新規作成</h3>

  <%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
    <div class='form-group'>
      <%= f.label :name, 'ユーザー名' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    
    <div class='form-group'>
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    
    <div class='form-group'>  
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    
    <div class='form-group'>  
      <%= f.label :password_confirmation, 'パスワード（確認）' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    
    <%= f.submit 'アカウント新規作成', class: 'btn btn-success btn-block', id: 'create-user-btn' %>
  <% end %>
  <%= link_to '既にアカウントをお持ちの方はログイン画面へ', login_path %>
</div>
