<% @logs.each do |log| %>
  <div class='panel panel-default log'>
    <p class='description'>
      <%= log.user.name %><br>
      <%= log.climbed_at %>
      <%= log.comment %><br>
      <p class='text-right'>
        <%= link_to log.problem.spot.name, spot_path(log.problem.spot) %>
        <%= GRADE_CORRESPONDENCE[log.problem.grade] %><br>
      </p>
      
      <% if false %>
        <% if session[:user_id] %>
            <%= link_to 'ログを作成する', new_log_path(problem_id: log.problem.id) %>
        <% else %>
            <%= link_to 'ログを作成する', 'login' %>
        <% end %>
      <% end %>
      <% if log.user == session[:user_id] %>
          <%= link_to 'ログを削除する', log, method: :delete, data: {confirm: '本当にログを削除しますか？'} %>
      <% end %>
    </p>

    <% photos =log.photos %>
    <% if photos.first %>
      <div class='slider'>
        <ul class='bxslider'>
          <% photos.each do |photo| %>
              <li><%= image_tag photo %></li>
          <% end %>
        </ul>
        <p class='status'>
          <% if false %>
              <%= STATUS[log.status.to_i] %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>