<% @logs.each do |log| %>
    <div class='log'>
        <div class='slider'>
            <ul class='bxslider'>
                <!--このログに紐づいた写真を表示する-->
                <% log.photos.each do |photo| %>
                    <li><%= image_tag photo %></li>
                <% end %>
                <!--このログに紐づいた課題に紐づいた他の写真を表示する-->
                <% log.problem.logs.where.not(id: log.id).each do |other_log| %>
                    <% other_log.photos.each do |other_photo| %>
                        <li><%= image_tag other_photo %></li>
                    <% end %>
                <% end %>
            </ul>
            <p class='status'>
                <%= STATUS[log.status.to_i] %>
            </p>
        </div>
        <p class='description'>
            <%= link_to log.problem.spot.name, spot_path(log.problem.spot) %>
            <%= GRADE_CORRESPONDENCE[log.problem.grade] %><br>
            <%= log.comment %><br>
            <%= log.climbed_at %>
            <%= log.user.name %>
            <% if session[:user_id] %>
                <%= link_to 'ログを作成する', new_log_path(problem_id: log.problem.id) %>
            <% else %>
                <%= link_to 'ログを作成する', 'login' %>
            <% end %>
            <% if log.user == session[:user_id] %>
                <%= link_to 'ログを削除する', log, method: :delete, data: {confirm: '本当にログを削除しますか？'} %>
            <% end %>
        </p>
    </div>
<% end %>