<% @logs.each do |log| %>
  <div id='log<%= log.id %>'>
   <p class='description'>
      <%= link_to log.user.name, log.user %>
      <div class='text-right'>
        <%= log.climbed_at %>
      </div>
      
      <% if false %>
        <% if session[:user_id] %>
            <%= link_to 'ログを作成する', new_log_path(problem_id: log.problem.id) %>
        <% else %>
            <%= link_to 'ログを作成する', 'login' %>
        <% end %>
      <% end %>
    </p>
  
    <% photos =log.photos %>
    <% if photos.first %>
      <div class='slider'>
        <ul class='bxslider'>
          <% photos.each do |photo| %>
              <li><%= image_tag photo %></li>
          <% end %>
        </ul>
        <p class='status'>
          <% if false %>
              <%= STATUS[log.status.to_i] %>
          <% end %>
        </p>
      </div>
    <% end %>
    
    <p class='text-right'>
      <%= link_to "#{log.problem.spot.name} #{GRADE_CORRESPONDENCE[log.problem.grade]}", log.problem.becomes(Problem) %>
    </p>
    
    <%= log.comment %><br>
    
    <div class='like'>
      <% if logged_in? %>
        <% if current_user.like?(log) %>
          <%= render 'like_relations/unlike_btn', log: log %>
        <% else %>
          <%= render 'like_relations/like_btn', log: log %>
        <% end %>
      <% else %>
        <%= link_to new_user_path do %>
          <i class='far fa-heart'></i> <%= log.like_users.size %>
        <% end %>
      <% end %>
    </div>
    
    <p class='text-right'>
      <% if log.user == current_user %>
          <%= link_to 'ログを削除する', log, method: :delete, data: {confirm: '本当にログを削除しますか？'} %>
      <% end %>
    </p>
    <hr>
  </div>
<% end %>