<% unless logged_in? %>
  <div id='welcome'>
    <%= image_tag('rock_texture_cropped.jpg', { :border => '0', :alt => 'rock_texture', id: 'rock_texture'}) %>
    <h1>あなたのクライミングを記録して共有しよう</h1>
    <div class='btn-group'>
      <%= link_to 'アカウント新規作成', new_user_path, class: 'btn btn-info' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>

<!--<div class='row'>-->
<!--  <div class='col-xs-6 col-xs-offset-3'>-->
    <!--未実装-->
    <% if false %>
      <%= select_tag :filter, options_for_select(['All', 'Followings', 'Likes']), class: 'form-control', data:{remote: true, url: '/users/new'} %>
    <% end %>  
<!--  </div>-->
<!--</div>-->

<%= render 'logs/feed' %>