<div class='inner-container'>
  <h2>新規ログ作成</h2>
  
  <%= form_for(@log) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
  
    <div class='form-group'>
      <%= f.label :climbed_at, 'トライした日付' %>
      <%= f.date_field :climbed_at, class: 'form-control' %>
    </div>
    
    <div class='form-group'>
      <%= f.label :status, '状況' %>
      <%= f.select :status, STATUS.invert, {}, class: 'form-control' %>
    </div>
  
    <div class='form-group'>
      <%= f.label :photos, '写真' %>
      <%= f.file_field :photos, multiple: true %>
    </div>
    
    <div id='preview'></div>
    
    <div class='form-group'>
      <%= f.label :comment, 'コメント' %>
      <%= f.text_area :comment, rows: 7, class:'form-control' %>
    </div>
    
    <%= f.hidden_field :problem_id, value: @problem.id %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <%= f.submit '新規ログ作成', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
